body{
    background-image: url(http://wallpaper.zone/img/2012370.jpg);
    background-position: center;
    padding: 0px;
    margin: 0px;
}
.taskbar{
    width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	padding: 0px;
	margin: 0px;
	background-color: black;
	opacity: .85;
}
.startBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
}
.startBtn:hover{
    background-color: white;
}
.startMenu{
    width: 255px;
    height: 388px;
    position: absolute;
    bottom: 30px;
    padding: 0px;
	margin: 0px;
	background-color: black;
	opacity: .7;
	border-top-style: solid;
	border-right-style: solid;
	border-color: #808080;
	border-width: .5px;
	font-family: Ubuntu;
	color: white;
	
	animation-name: anima;
    transition: 5s ease-in-out;
}
@keyframes anima {
    0% {
        border-top-right-radius: 50px;
    }
    100% {
        border-top-right-radius: 5px;
    }
    
}
.userImg{
    border-style: solid;
    border-width: 0px;
    border-radius: 16px;
    margin-top: 10px;
    margin-left: 10px;
}
.userTxt{
    position: absolute;
    /*top: -25px;*/
    bottom: 338px;
    left: 50px;
}

/*.startMenu:hover{
    border-top-right-radius: 50px;
    animation-name: anima;
    transition: 2s ease-in-out;
}
*/



.google2{
    width:20px; 
    height:20px;
    background-color: #262626;
    padding: 5px;
}
.gmail2{
    width:20px; 
    height:20px;
    background-color: #262626;
    padding: 5px;
}
.youtube2{
    width:20px; 
    height:20px;
    background-color: #262626;
    padding: 5px;
}
.settings{
    width:20px; 
    height:20px;
    /*background-color: #262626;*/
    padding: 5px;
}
.power{
    width:20px; 
    height:20px;
    /*background-color: #262626;*/
    padding: 5px;
}



.apple,.google,.amazon,.mail,.youtube,.facebook,.wiki,.instagram,.snapchat{position: relative;}
.apple{
    top: 400;
    left: 0;
}
.google{
    top: 300;
    left: -45;
}
.amazon{
    top: 350;
    left: -90;
}
.mail{
    top: 217;
    left: -131;
}
.youtube{
    top: 265;
    left: -181;
}
.facebook{
    top: 170;
    left: -225;
}
.wiki{
    top: 130;
    left: -265;
}
.instagram{
    top: 85;
    left: -310;
}
.snapchat{
    top: 40;
    left: -355;
}
.windows{
    position: relative;
    top: 500;
    left: 600;
    
}