body{
    background-image: url(http://wallpaper.zone/img/2012370.jpg);
    background-position: center;
    padding: 0px;
    margin: 0px;
}
.taskbar{
    width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	padding: 0px;
	margin: 0px;
	background-color: black;
	opacity: .85;
}
.startBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
}
.startBtn:hover{
    background-color: #4d4d4d;
}
.startMenu{
    width: 255px;
    height: 388px;
    position: absolute;
    bottom: 30px;
    padding: 10px;
	margin: 0px;
	background-color: black;
	opacity: .7;
	border-top-style: solid;
	border-right-style: solid;
	border-color: #808080;
	border-width: .5px;
	font-family: Ubuntu;
	color: white;
	
	animation-name: anima;
    transition: 5s ease-in-out;
}
@keyframes anima {
    0% {
        border-top-right-radius: 50px;
    }
    100% {
        border-top-right-radius: 5px;
    }
    
}
/*.userImg{
    border-style: solid;
    border-width: 0px;
    border-radius: 16px;
    margin-top: 10px;
    margin-left: 10px;
}
.userTxt{
    position: absolute;
    /*top: -25px;*/
   /* bottom: 338px;
    left: 50px;
}*/

/*style userImg*/
.userImg{
    margin-left: 5px;
    margin-right: -1px;
    margin-bottom: 5px;
    margin-top: 8px;
    width:30px; 
    height:30px;
    padding: 5px;
    border-style: solid;
    border-width: 0px;
    border-color: transparent;
    border-radius: 29px;
}

/*.startMenu:hover{
    border-top-right-radius: 50px;
    animation-name: anima;
    transition: 2s ease-in-out;
}
*/
.mostUsed{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    color: #4d4d4d;
    font-size: 14;
}
/*on hover highlight startmenu links background color*/
#user:hover,.google2:hover, #google2:hover, .gmail2:hover, #gmail2:hover, .youtube2:hover, #youtube2:hover, .settings:hover, #settings:hover, .power:hover, #power:hover{
    background-color: #4d4d4d;
}
/*spacing (margin) and sizing around startmenu links*/
.google2,.gmail2,.youtube2,.settings,.power{
    margin: 5px;
    width:20px; 
    height:20px;
    /*background-color: #262626;*/
    padding: 5px;
}
/*#google2,#gmail2,#youtube2,#settings,#power{
    margin-bottom: 10px;
}*/


.apple,.google,.amazon,.mail,.youtube,.facebook,.wiki,.instagram,.snapchat {
    position: relative;
    object-fit: contain;
    height: 40px !important;
    width: 40px !important;
    padding: 5px !important;
    margin: 0px !important;
    background-color: rgba(26, 102, 255, .1);
    border-style: solid !important;
    border-color: transparent !important;
    border-width: 1px !important;
    border-radius: 6px;
}

.apple:hover,.google:hover,.amazon:hover,.mail:hover,.youtube:hover,.facebook:hover,.wiki:hover,.instagram:hover,.snapchat:hover{
    background-color: rgba(26, 102, 255, .6);
    border-style: solid !important;
    border-color: rgb(26, 102, 255) !important;
    border-width: 1px !important;
    border-radius: 6px;
}



/*
.snapchat{
    top: 40;
    left: -355;
}
.instagram{
    top: 85;
    left: -310;
}
.wiki{
    top: 130;
    left: -265;
}
.facebook{
    top: 170;
    left: -225;
}
.mail{
    top: 217;
    left: -131;
}
.youtube{
    top: 265;
    left: -181;
}
.google{
    top: 300;
    left: -45;
}
.amazon{
    top: 350;
    left: -90;
}
.apple{
    top: 400;
    left: 0;
}
*/