html{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

body{
    /*background-image: url(http://wallpaper.zone/img/2012370.jpg);*/
    background-image: url(http://neptunecodes.weebly.com/uploads/2/4/1/0/24105822/windows-10-hero-background-not-to-bg-scale-by-gamerverise-d902xbe_orig.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}

.userImg{
    margin-left: auto;
    margin-right: auto;
    width: 180;
    top: 270;
}
#userImg{
    border-radius: 50%;
    top: 270;
    position: relative;
    height: 180;
    width: 180;
}

h1{
    font-family: Ubuntu;
    color: white;
    text-align: center;
    top: 260;
    position: relative;
}
.boxes{
    margin-left: auto;
    margin-right: auto;
    width: 260;
    top: 270;
}
#username{
    font-family: Ubuntu;
    color: white;
    margin-left: auto;
    margin-right: auto;
    top: 510;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    border-color: rgb(73,90,107);
    border-style: solid;
    border-width: 2px;
    height: 30;
    width: 260;
    padding: 10px;
}
#username:focus{
    background-color: white;
    color: black;
}
#password{
    font-family: Ubuntu;
    color: white;
    margin-left: auto;
    margin-right: auto;
    top: 550;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    border-color: rgb(73,90,107);
    border-style: solid;
    border-width: 2px;
    height: 30;
    width: 260;
    padding: 10px;
}
#password:focus{
    background-color: white;
    color: black;
}
.sign-in-btn{
    margin-left: auto;
    margin-right: auto;
    width: 90;
    top: 560;
}
#sign-in-btn{
    font-family: Ubuntu;
    color: white;
    top: 340;
    position: relative;
    height: 30;
    width: 90;
    background-color: rgb(73,90,107);
    border-style: none;
}


.buttons{
    
}
#ease-of-access{
    height: 30;
    width: 30;
    background-image: url(http://neptunecodes.weebly.com/uploads/2/4/1/0/24105822/eoa-2_orig.png);
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border-style: none;
    position: absolute;
    bottom: 10;
    right: 100;
}
#conect-to-the-internet{
    height: 30;
    width: 30;
    background-image: url(http://neptunecodes.weebly.com/uploads/2/4/1/0/24105822/internet-2_orig.png);
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border-style: none;
    position: absolute;
    bottom: 10;
    right: 60;
}
#shutdown{
    height: 30;
    width: 30;
    background-image: url(http://neptunecodes.weebly.com/uploads/2/4/1/0/24105822/power-xxl_orig.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border-style: none;
    position: absolute;
    bottom: 10;
    right: 10;
}